
{% extends "shared/base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block title %}
  My index
{% endblock title %}




{% block main %}

  <section class="secbanner">
    <div class="banner">
      knowledge is Our Pride
    </div>
    <div class="blog">
      <div class="blog1"></div>
      <div class="blog1"></div>
      <div class="blog1"></div>
    </div>
  </section>
  <div class="straightline"></div>

  <section class="secindexcontent">
    <div class="contents">
      <h2>Our Vision/Mission</h2>
      <img width="340px" src="{% static 'images/banner2.jpg' %}" alt=""><br><br>
      <h4>VISION</h4>
      <p>To be a world-class institution for academic excellence geared towards meeting societal needs.</p>
      <h4>MISSION</h4>
      <p>To expand the frontiers of knowledge through provision of excellent conditions for learning and research.</p>
    </div>
    <div class="contents">
      <h4>Our School AT A GLANCE</h4>
      <p>Established in 2018, Daarus-salaam model college, DSMC as it is fondly referred to, is the one of the best colleges in Nigeria. Until 2020 when it became a full-fledged independent college, it was a College of the University of London in a special relationship scheme. The college, which took off with academic programmes in Arts, Science, Engineering and Commercial, is now a comprehensive citadel of learning with academic programmes in sixteen Faculties namely, Arts, Science, Basic Medical Sciences, Clinical Sciences, Agriculture, the Social Sciences, Education, Veterinary Medicine, Pharmacy, Technology, Law, Public Health, Dentistry, Economics, Renewable Natural Resources and Environmental Design and Management. The Faculties of the Basic Medical Sciences, Clinical Sciences, Public Health and Dentistry are organised as a College of Medicine...</p>
    </div>
    <div class="contents">
      <center><h4>EVENTS</h4></center>
      <h6><b>SENATE REPRESENTATIVES ON THE JOINT COUNCIL AND SENATE SELECTION BOARDFOR THE APPOINTMENT OF VICE CHANCELLOR (2020 –2025)</b></h6>
      <p>RE: INVITATION TO TENDER</p>
      <p>RE: COVID-19 PUBLIC HEALTH PROTOCOLS</p>
      <p>RE: INVITATION TO TENDER: EXTENSION OF CLOSING AND OPENING DATE</p>
      <p>2020-2021 ADMISSION: PAYMENT INSTRUCTION</p>
      <a href=""><p style="float: right; margin-bottom: 8px;">Read More</p></a><br><br>
      <center><h4>ANTHEMS</h4></center>
      <h6>National, State and School Anthems</h6>
      <a href="">Click to view or download anthems</a>

      <center><h4>UNIVERSITY LOGO</h4></center>
      <a href="">Click to view or download Logo</a>
    </div>
  </section>

{% endblock main %}







