
{% extends "shared/base.html" %}
{% load static %}


{% block title %}
  Vission and Mission
{% endblock title %}




{% block main %}
    <div class="breadcrumb">
        <span>Home / </span> <span> About Us / </span> <span> Vision_mission </span>
    </div>
    <section class="vm" style="background: #fff ; margin: 15px; padding: 15px;">
        <h4>VISION AND MISSION</h4>
        <h5>VISION</h5>
        <p>To be a world-class institution for academic excellence geared towards meeting societal needs.</p>

        <h5>MISSION</h5>
        <ul>
        <li>To expand the frontiers of knowledge through provision of excellent conditions for learning and research.</li>
        <li>To produce graduates who are worthy in character and sound judgement.</li>
        <li>To contribute to the transformation of society through creativity and innovation.</li>
        <li>To serve as a dynamic custodian of society's salutary values and thus sustain its integrity.</li>
        </ul>
    </section>
{% endblock main %}







